<h1>
  Example Form Validation
</h1>
<p appBlueDirective>Please fill all mandatory fields to enable submit</p>
<!-- <div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
  </div> -->
<div class="container" style="background-color: blanchedalmond;">
  <div class="row">
    <div class="col p-6">
      <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
          <div *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)"
            class="invalid-feedback">
            <div *ngIf="form.get('name')!.errors!['required']">Name is required</div>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age">
          <div *ngIf="form.get('age')?.invalid && (form.get('age')?.dirty || form.get('age')?.touched)"
            class="invalid-feedback">
            <div *ngIf="form.get('age')!.errors!['required']">Name is required</div>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="M">Male</mat-option>
            <mat-option value="F">Female</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="  col p-6">
          <mat-form-field class="example-full-width">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-hint>MM/DD/YYYY</mat-hint>

            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput type="number" formControlName="PhoneNumber">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Mobile Number</mat-label>
            <input matInput type="number" formControlName="ContactNumber">
          </mat-form-field>
        </div>
      </form>

      <div class="d-flex justify-content-center mt-10">
        <div class="btn-group">
          <button type="submit" class="btn btn-primary mr-10" [disabled]="form.invalid"
            (click)="onSubmit()">Submit</button>
        </div>
        <div class="btn-group">
          <button type="button" (click)="onUpdate()" class="btn btn-success">Update</button>
        </div>
      </div>
      <div class="container mt-3">
        <h2>Person Details</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age </th>
              <th>Gender</th>
              <th>Date of Birth</th>
              <th>Phone Number</th>
              <th>Mobile Number</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rowData of tableData">
              <td>{{ rowData.name }} </td>
              <td>{{ rowData.age }}</td>
              <td>{{ rowData.gender }}</td>
              <td>{{rowData.dob | testpipe }}</td>
              <td>{{rowData.PhoneNumber }}</td>
              <td>{{ rowData.ContactNumber}}</td>
              <td (click)="onEdit(rowData.id)"> Edit </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>